<!DOCTYPE html>
<html lang="en">
<head>
    <!-- File: templates/base.html -->
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename= 'css/tailwind.css') }}"/>

    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static',filename= 'img/favicon.png') }}"/>
    <link rel="shortcut icon" type="image/svg+xml"
          href="{{ url_for('static',filename= 'img/favicon.svg') }}"/>
    <link rel="apple-touch-icon" type="image/svg+xml"
          href="{{ url_for('static',filename= 'img/favicon.svg') }}"/>
    <link rel="manifest" href="/manifest.webmanifest">

    {% block styles %}{% endblock %}

</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal flex
             flex-col justify-between h-screen">

{% include 'components/header.html' %}

<div class="mb-auto mt-24">
    <div class="container shadow-lg mx-auto bg-gray-50 mt-2 md:mt-8 p-6 mb-8
     rounded-md">
        {% block main %}{% endblock %}
    </div>
</div>

{% include 'components/footer.html' %}

{% block js %}{% endblock %}

</body>
</html>
