{% extends 'base.html' %}
<!-- Name:      templates/index.html
     Purpose:   Used as the home page for the site -->

{% block title %}
    Home | IoT Dashboard
{% endblock %}


{% block js %}
    <script src="{{ url_for('static', filename= 'js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/utilities.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/data-env.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/data-cpu.js') }}"></script>
{% endblock %}

{% block main %}
    <main>
        <h1 class="text-4xl text-bold m-6">Welcome to the IoT
            Dashboard</h1>

        <div class="m-6 p-6 rounded overflow-hidden shadow-lg bg-blue-200">
            <h2 class="text-2xl pb-6">
                TO DO: Functions and other items
            </h2>
            <p class="pb-4">
                The following list shows what is to be added to this
                application:
            </p>
            <ul class="list-disc pl-6">
                <li class="pb-1">
                    Make the various displays below show the current values
                    updated once a second. <br>
                    See the TO DO items in the <code class=" text-red-800">data-env.js</code class=" text-red-800">
                    and
                    <code class=" text-red-800">data-cpu.js</code class=" text-red-800">
                    files.
                </li>

                <li class="pb-1">
                    Check the TO DO list in PyCharm for any files from the
                    project with TO DOs.<br> <strong>DO NOT</strong> Change any
                    file that is in the vendor, node_modules, static/vendor,
                    static/fonts, static/img or static/css folders
                </li>

                <li class="pb-1">
                    Check all the files and make sure any occurrence of either
                    <code class="text-red-800">STUDENT_NAME</code>,
                    <code class="text-red-800">STUDENT NAME</code>,
                    <code class="text-red-800">STUDENT TAFE EMAIL
                        ADDRESS</code> or similar is replaced with your name or
                    email address, as appropriate.<br>
                    Also remember that <code class="text-red-800">xxx</code>
                    must be changed to your initials.
                </li>

                <li class="pb-1">
                    Copy the <code class="text-red-800">DB.py</code> file from
                    this project over the top of the server project's DB file.
                    Update any header details as needed.
                </li>

                <li class=" pb-1">
                    Remove this block of text that is on a background of
                    blue-200 so the readings are shown at the top of the page.
                </li>
            </ul>
        </div>

        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-5">
            <!--Card 1-->
            <h3 class="col-span-full font-bold text-2xl">
                Environment
            </h3>

            <div class="rounded overflow-hidden shadow-lg text-center">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    Temperature
                </h4>
                <div id="Temperature" class="p-4 text-4xl">
                    XXºC
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg text-center ">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    Pressure
                </h4>
                <div id="Pressure" class="p-4 text-4xl">
                    XX
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg text-center">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    Humidity
                </h4>
                <div id="Humidity" class="p-4 text-4xl">
                    XX%
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg text-center">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    Compass
                </h4>
                <div id="Compass" class="p-4 text-4xl">
                    XX
                </div>
            </div>
        </div>

        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-3">
            <!--Card 1-->
            <h3 class="col-span-full font-bold text-2xl">Sensor</h3>

            <div class="rounded overflow-hidden shadow-lg  text-center">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    CPU Load
                </h4>
                <div id="CPU-Load" class="p-4 text-4xl">
                    XX
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg  text-center">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    Free RAM
                </h4>
                <div id="RAM-Free" class="p-4 text-4xl">
                    XX
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg text-center ">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    Free Storage
                </h4>
                <div id="Storage-Free" class="p-4 text-4xl">
                    XX
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg text-center ">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    CPU Temperature
                </h4>
                <div id="CPU-Temperature" class="p-4 text-4xl">
                    XXºC
                </div>
            </div>

            <div class="rounded overflow-hidden shadow-lg text-center ">
                <h4 class="text-xl mb-2 bg-gray-100 text-gray-700 p-2 px-4">
                    GPU Temperature
                </h4>
                <div id="GPU-Temperature" class="p-4 text-4xl">
                    XXºC
                </div>
            </div>
        </div>

    </main>
{% endblock %}
